<div class="base">
    <form [formGroup]="form">
        <div class = "input-pos-1">
            <div class = "container">
                <input formControlName = "country" placeholder="Страна">
            </div>
        </div>
        <div class="input-pos-2">
            <div class = "container">
                <input formControlName = "town" placeholder="Город">
            </div>
        </div>
        <div class="input-pos-3">
            <div class = "container">
                <input formControlName = "phone" placeholder="Номер телефона с кодом">
            </div>
        </div>
    </form>
</div>
