<div class="mainPageHeader">

  <div style="text-align: center; margin-top: 36px">
    <span class="headerLinks">
      <a class="headerLink">О проекте</a>
      <a class="headerLink">Обо мне</a>
      <a class="headerLink">Курсы</a>
      <a class="headerLink">Подкасты</a>
      <a class="headerLink">Отзывы</a>
      <a class="headerLink" style="margin-right: 0">Контакты</a>
    </span>
  </div>

  <button class="headerButton" routerLink="/account/login"><span class="headerButtonText">Login</span>
  </button>
  <p-button label="Go to user Profile" (onClick)="toUserProfile()" icon="pi pi-angle-left"></p-button>

</div>

<div class="backgroundPicture1"></div>

<div class="yourPlaceOfPowerText">
  Твоё место силы
</div>
<div class="videoOuterContainer">
  <div class="videoInnerContainer">
    <div class="video"></div>
  </div>
</div>

<div class="firstOnlinePlatform">Первая онлайн платформа для обучения пианистов</div>

<div class="bigGreenDiv">
  <div class="bigGreenDivText">
    <div class="firstContent">
      <div class="firstContentPicture">

      </div>
      <div class="firstContentText">
        <p id="header">Рост с ментором с нуля</p>
        <p id="text">Вы получите краткие и понятные задания
          под экологичным руководством ментора, который пошагово выстроит процесс занятий, с учётом оптимального времени
          для достижения цели, начиная с любого уровня исполнения, даже для новичков.</p>
      </div>
    </div>
  </div>
</div>
