<div class="main">
    <div class="surname">
        <div class="container">
            <input placeholder = "Фамилия и имя">
        </div>
    </div>
    <div class="login">
        <div class="container">
            <input placeholder = "Логин">
        </div>
    </div>
    <div class="password">
        <div class="container">
            <input placeholder = "Пароль" type="password">
        </div>
    </div>
    <div class="repeat-password">
        <div class="contaner">
            <input placeholder="Повторите пароль" type="password">
        </div>
    </div>
    <div class="socials">
        <div class="container">
            <input placeholder="Ссылка на профиль в соцсетях">
        </div>
    </div>
    <div class="new-social">
        
    </div>
</div>